<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
            <input type="hidden" value="{{root}}" class="roote"/>
        
        <div class="mt-5">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>libelle</th>
                        <th>notes1</th>
                        <th>notes2</th>
                        <th>notes3</th>
                    </tr>
                </thead>
                <tbody class="bull">
                        {{#notes}}
                           <tr>
                              <td>{{fullname}}</td>
                              <td>{{note1}}</td>
                              <td>{{note2}}</td>
                              <td>{{note3}}</td>
                           </tr>
                        {{/notes}}
                </tbody>
            </table>

            <div>
                <a href="{{tirerbulletin}}?idetu={{idetu}}">tirer bulletin</a>
            </div>
        </div>
    <script src="{{wwwroot}}/powereduc1/local/powerschool/js/jquery.js"></script>
    <script src="{{wwwroot}}/powereduc1/local/powerschool/js/bulletins.js"></script>
</body>
</html>