{{!
    This file is part of PowerEduc - http://powereduc.org/

    PowerEduc is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    PowerEduc is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with PowerEduc.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_powerschool/index


    Example context (json):
    {

    }
}}

<div class="secondary-navigation d-print-none">
    <nav class="moremenu navigation observed">
        <ul id="moremenu-643fd15bea2a0-nav-tabs" role="menubar" class="nav more-nav nav-tabs">
                        <li data-key="siteadminnode" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link" href='{{coursspecialite}}' tabindex="0" aria-current="true">
                                       Affecter les niveaux à une specialité
                                    </a>
                        </li>
                         <li data-key="salles" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link  " href='{{salleele}}' tabindex="-1">
                                        Salles
                                    </a>
                        </li>
                         <li data-key="salles" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link  " href='{{groupe}}' tabindex="-1">
                                        Groupe de salle
                                    </a>
                        </li>
                        <li data-key="siteadminnode" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link" href='{{affecterprof}}' tabindex="0" aria-current="true">
                                       Affecter les cours à un professeurs
                                    </a>
                        </li>
                        <li data-key="semestre" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link  " href='{{tranche}}' tabindex="-1">
                                        Tranches
                                    </a>
                        </li>
                        <li data-key="semestre" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link  " href='{{configurerpaie}}' tabindex="-1">
                                        Configuration des differentes Tranches
                                    </a>
                        </li>
                        <li data-key="campus" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link  " href='{{confinot}}' tabindex="-1">
                                        Configurations des notes
                                    </a>
                        </li>
                      
                       <li data-key="salles" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link  " href='{{message}}' tabindex="-1">
                                        Confessionner le message d'envoyer 
                                    </a>
                        </li>
                       <li data-key="salles" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link  " href='{{logo}}' tabindex="-1">
                                       Logo 
                                    </a>
                        </li>
                       <li data-key="salles" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link  " href='{{materiell}}' tabindex="-1">
                                       Gestion de vos differentes sorties 
                                    </a>
                        </li>
        </ul>
    </nav>
</div>





    <div calss="content">
        

    </div>
       