{{!
    This file is part of PowerEduc - http://powereduc.org/

    PowerEduc is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    PowerEduc is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with PowerEduc.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_powerschool/index


    Example context (json):
    {

    }
}}

<h1>seance de cours</h1>

<div class="table card mt-2 mb-2">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Cours</th>
                <th scope="col">Semestre</th>
                <th scope="col">Specialite</th>
                <th scope="col">Cycle</th>
                <th scope="col">Date de la seance</th>
                <th scope="col">Heure de debut</th>
                <th scope="col">Heure de fin</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            {{#seance}}
            <tbody>
              <tr>
                
                    <th scope="row">{{id}} </th>
                    <td>{{idcourses}} </td>
                    <td>{{idsemestre}} </td>
                    <td>{{idspecialite}} </td>
                    <td>{{idcycle}} </td>
                    <td>{{dateseance}} </td>
                    <td>{{heuredebutseance}} </td>
                    <td>{{heurefinseance}} </td>
                    <td>
                        <input type="button" class="btn btn-primary" value="modifier" onclick="location.href='{{seanceedit}}?id={{id}}&idca={{idca}}'">
                        <input type="button" class="btn btn-danger local_annee_delete_button" value="supprimer" onclick="location.href='{{seancesupp}}?id={{id}}'">
                    </td>
                </tr>
            </tbody>
            
            {{/seance}}
          </table>
</div>

<hr>